*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  min-height:100vh;
  overflow-x:hidden;
  background: linear-gradient(to bottom,#050b1f,#ffffff);
  color:white;
}

/* CANVAS */
#particles{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  pointer-events:none; /* 🔥 CLAVE */
}

/* SECTION */
#section1{
  margin-top:5%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:50%;
  margin:auto;
  position:relative;
  z-index:2;
}

/* LOGO */
.logo{
  width:300px;
  filter: drop-shadow(0 0 20px #00ccff);
}

.logo-title{
  text-align:center;
}

.logo-title span{
  font-size:42px;
}

/* SUBTITLE */
.subtitle{
  margin-top:20px;
  opacity:0.8;
}

/* COUNTDOWN */
.countdown{
  display:flex;
  gap:10px;
  margin:40px 0;
  flex-wrap:wrap;
  justify-content:center;
}

.time-box{
  width:100px;
  padding:18px;
  border-radius:20px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(12px);
  text-align:center;
}

/* BOTON */
.btn{
  padding:18px 80px;
  border:none;
  border-radius:60px;
  cursor:pointer;
  background:linear-gradient(135deg,#00e0ff,#0072ff);
  color:white;
  margin-bottom:80px;
}

/* SPONSORS */
.sponsors-wrapper{
  width:100vw;
  overflow:hidden;
}

.sponsors-track{
  display:flex;
  gap:80px;
  animation: scroll 35s linear infinite;
}

@keyframes scroll{
  from{transform:translateX(0);}
  to{transform:translateX(-50%);}
}

.sponsors-track img{
  height:60px;
}

/* MODAL */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.8);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;

  opacity:0;
  pointer-events:none;
  transition:0.3s;
}

.modal.show{
  opacity:1;
  pointer-events:auto;
}

.modal-content{
  width:85%;
  max-width:900px;
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(20px);
  border-radius:20px;
  padding:20px;
  position:relative;
}

.close{
  position:absolute;
  top:10px;
  right:20px;
  cursor:pointer;
  font-size:24px;
}

/* RESPONSIVE */
@media(max-width:900px){
  #section1{ width:90%; }
  .logo{ width:200px; }
  .time-box{ width:80px; }
}
